.profile-page{
    margin-top:50px;
    margin-bottom:70px;
    display:flex;
    justify-content:center;
}

.profile-card{

    width:700px;

    border:none;

    border-radius:25px;

    overflow:hidden;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

    background:white;
}

.profile-banner{

    height:180px;

    background:linear-gradient(
        135deg,
        #6C63FF,
        #8B5CF6
    );
}

.profile-image-wrapper{

    position:relative;

    width:170px;

    margin:auto;

    margin-top:-85px;
}

.profile-image{

    width:170px;

    height:170px;

    object-fit:cover;

    border:6px solid white;

    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.camera-btn{

    position:absolute;

    bottom:10px;

    right:10px;

    width:40px;

    height:40px;

    border-radius:50%;

    background:#6C63FF;

    color:white;

    display:flex;

    align-items:center;

    justify-content:center;

    cursor:pointer;

    transition:.3s;
}

.camera-btn:hover{

    transform:scale(1.1);

    background:#5a52ff;
}

.profile-card h2{

    margin-top:20px;

    font-weight:700;
}

.profile-info{

    margin-top:30px;
}

.profile-info p{

    background:#f8f9fa;

    padding:20px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.05);
}

.profile-info span{

    color:#6C63FF;

    font-weight:600;

    font-size:15px;
}

.btn-dark{

    border-radius:30px;

    padding:10px 30px;
}